.bg-svg {
    position: absolute;
    bottom: 0;
    left: -5%;

    @media screen and (max-width: 500px) {
        display: none;
    }

    @media screen and (min-width: 1264px) {
        left: 4%;
    }

    @media screen and (min-width: 1520px) {
        left: 11%;
    }

    @media screen and (min-width: 1820px) {
        left: 17%;
    }
}

@media screen and (max-height: 768px) {
    .bg-svg {
        display: none;
    }

    .sign-up-form,
    .sign-in-form {
        transform: none !important;
        padding: 20px;
    }
}

@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0%, 0);
        transform: translate3d(-100%, 0%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(17%, 0%, 0);
        transform: translate3d(0%, 0%, 0);
    }
}

@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0%, 0);
        transform: translate3d(-100%, 0%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(17%, 0%, 0);
        transform: translate3d(0%, 0%, 0);
    }
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

.slideInLeft-enter-active,
.slideInLeft-leave-active {
    animation-name: slideInLeft;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    -webkit-animation-name: slideInLeft;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s ease;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}
