.v-application {
    line-height: 1;
    font-family: Nunito, serif !important;
    color: $primary-text-color !important;

    .title {
        color: $primary-text-color !important;
    }
}

.v-text-field--outlined.v-input--has-state fieldset,
.v-text-field--outlined.v-input--is-focused fieldset {
    border: 1px solid !important;
}

.v-text-field--enclosed .v-input__append-inner,
.v-text-field--enclosed .v-input__append-outer,
.v-text-field--enclosed .v-input__prepend-inner,
.v-text-field--enclosed .v-input__prepend-outer,
.v-text-field--full-width .v-input__append-inner,
.v-text-field--full-width .v-input__append-outer,
.v-text-field--full-width .v-input__prepend-inner,
.v-text-field--full-width .v-input__prepend-outer {
    margin-top: 11px !important;
}

.v-text-field {
    .v-input__slot {
        min-height: 46px !important;
    }

    .v-label {
        top: 14px !important;
    }

    .v-label--active {
        top: 18px !important;
    }

    input {
        background-color: transparent !important;
        font-size: 1.2rem;
        font-weight: 400;
        color: $primary-text-color !important;
    }
}